<div class="row">
  <div class="col">
          <div class="card" >
                  <img class="card-img-top" src="https://media2.s-nbcnews.com/j/newscms/2018_06/2316986/180205-eagles-nick-foles-trophy-njs-847a_dc249df1dd2bf248f5f11b3c6cf6a86c.nbcnews-fp-320-280.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
  </div>
  <div class="col">
          <div class="card" >
                  <img class="card-img-top" src="https://media2.s-nbcnews.com/j/newscms/2018_06/2316986/180205-eagles-nick-foles-trophy-njs-847a_dc249df1dd2bf248f5f11b3c6cf6a86c.nbcnews-fp-320-280.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
  </div>
  <div class="col">
          <div class="card" >
                  <img class="card-img-top" src="https://media2.s-nbcnews.com/j/newscms/2018_06/2316986/180205-eagles-nick-foles-trophy-njs-847a_dc249df1dd2bf248f5f11b3c6cf6a86c.nbcnews-fp-320-280.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
  </div>
</div>